<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
<script type="text/javascript">
    function countDown(secs,surl){
        //alert(surl);
        var jumpTo = document.getElementById('jumpTo');
        jumpTo.innerHTML=secs;
        if(--secs>0){
            setTimeout("countDown("+secs+",'"+surl+"')",1000);
        }
        else{
            location.href=surl;
        }
    }
</script>
</head>

<body>对不起，您没有权限访问该页面；<span id="jumpTo">5</span>秒后自动跳转到登录页面
<script type="text/javascript">countDown(5,'/login');</script>
</body>
</html>