<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><script type="text/javascript" async="" charset="utf-8" src="https://c.cnzz.com/core.php?web_id=30065558&amp;t=q"></script><script type="text/javascript" async="" charset="utf-8" src="https://w.cnzz.com/c.php?id=30065558&amp;async=1"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="https://hm.baidu.com/hm.js?8288b2ed37e5bc9b4c9f7008798d2de0"></script><script type="text/javascript">
window.Env = {"target_uid":62368924,"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"https:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"https:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":0,"CSTK":"adb18f5707f3c55847d51499f03c4b48_466dfa4343d12ed051c7ed095d0a6aeb","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
</script>

<link href="https://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1542357401.css" rel="stylesheet" type="text/css">
    <link href="https://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+mfw-header.2015^YlVS^1578479974.css" rel="stylesheet" type="text/css">

    <link href="https://css.mafengwo.net/css/mdd/mfw-place.2015.css?1559524834" rel="stylesheet" type="text/css">


    <script language="javascript" src="https://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:miniapp+js+sdk:js+M+Log:js+m.statistics:js+advert+inspector^YlRX^1588130166.js" type="text/javascript" crossorigin="anonymous"></script>


    <link href="https://css.mafengwo.net/css/cv/css+home_new2015+home_new2015:css+together+together_v2:css+jquery-ui-1.8.18.custom^a1c^1545682406.css" rel="stylesheet" type="text/css">

<script language="javascript" src="https://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:miniapp+js+sdk:js+M+Log:js+m.statistics:js+advert+inspector^YlRX^1588130166.js" type="text/javascript" crossorigin="anonymous"></script>

<script async="" src="https://js.mafengwo.net/js/cv/js+pageletcommon+pageHeadUserInfoWWWDark:js+jquery.tmpl:js+M+module+Pagination:js+together+personal:js+M+module+PageAdmin:js+M+module+Storage:js+M+module+Cookie:js+M+module+ResourceKeeper:js+jquery.jgrowl.min:js+AMessage:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+dialog+alert:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^ZlVR^1577348452.js" crossorigin="anonymous"></script><script async="" src="https://js.mafengwo.net/js/BrowserState.js?1542357400" crossorigin="anonymous"></script></head>
<body style="position: relative;">
    
    <div class="topBar">
        <div th:include="common/common::Menu"></div>
    </div>


<div class="container">
    <div class="banner">
    
    <style>
    .invisible {opacity:0.01; filter: alpha(opacity=1);}
    .invisible .maps-container {opacity:0.01; filter: alpha(opacity=1);}
    </style>
    
    <div class="banner_img banner_together" id="_j_banner">
            </div>
    <div class="tags_bar second_tags_bar">
    <div class="center clearfix">
                <div class="MAvatar clearfix">
            <div class="MAvaImg flt1">
                <img width="120" height="120" alt="" th:src="${userEntity.photo}" src="https://p1-q.mafengwo.net/s10/M00/4B/84/wKgBZ1orR2eAH07cAABeVjiX7Lg79.jpeg?imageMogr2%2Fthumbnail%2F%21200x200r%2Fgravity%2FCenter%2Fcrop%2F%21200x200%2Fquality%2F90">
                            </div>
            <div class="MAvaEasyWord flt1">
                <span class="MAvaName" th:text="${userEntity.username}">沐木</span>
            </div>
        </div>
                                                <div id="pagelet-block-aa79fcf236aeeb82bb9d02af78af508c" class="pagelet-block" data-api=":home:pagelet:unSafeApi" data-params="{&quot;uid&quot;:&quot;62368924&quot;}" data-async="1" data-controller="">    <style type="text/css">
        .numNotSafeWrap{ width: 100%; height: 40px; background-color: #fff1f1; border-bottom: 1px solid #c4bfc0;}
        .numNotSafe{ width: 1000px; height: 40px; font-size: 14px; line-height: 40px; color: #ff7272; margin: 0 auto;}
        .numNotSafe a{ color: #ff7272; text-decoration: underline;}
        .numNotSafe span{ display: block; width: 24px; height: 24px; margin-top: 8px; background: url(http://images.mafengwo.net/images/index/numnotsafe.png) no-repeat;}
        .numNotSafe span.icon{ float: left; margin-right: 10px;}
        .numNotSafe span.close{ background-position: -24px 0; float: right; cursor: pointer;}
    </style>


</div>
                <ul class="flt2">
                    <li ><a class="tags_link" th:href="'/user/detail?userId='+${userEntity.userId}" >主页</a></li>
                    <li th:if="${userSession != 0 && session.user.jurisdiction == 1}"><a class="tags_link" th:href="'/user/scenic?userId='+${userEntity.userId}">景点</a></li>
                    <li class="on"> <a class="tags_link" th:href="'/user/roadmap?userId='+${userEntity.userId}" >线路</a></li>
                    <li><a class="tags_link" href="/wenda/u/77119521/answer.html" >线路攻略</a></li>
                    </ul>
    </div>
</div>

</div>

    <input type="hidden" class="_j_data" data-type="" data-total="2">
    <div class="row row-bg">
        <div class="wrapper mod-mylist">
            <div class="hd">
               <span><a href="/scenic/add" class="_j_care_add" data-type="0">添加景点<em></em></a></span>
            </div>
            <div class="bd">
                <table>
                    <thead>
                    <tr>
                        <td class="event">计划名称</td>
                       <td class="departure"></td>
                        <td class="destination"></td>
                       <td class="date"></td>
                        <td class="date">操作</td>
                    </tr>
                    </thead>
                    <tbody class="_j_tbody">
                                <tr class="self" xmlns="http://www.w3.org/1999/html" th:each="list : ${scenicList}" th:id="list+${list.scenicId}">
        <td class="event">

            <h3 class="title"><a th:href="'/user/detail?userId=' + ${list.userId}">[[${list.name}]]</a></h3>
            <!--<span class="count"><i class="icon-view"></i>334</span>
            <span class="count"><i class="icon-reply"></i>9</span>-->
        </td>
       <td class="departure"></td>
        <td class="destination">

        </td>
      <td class="date"></td>
        <td class="date">

            <div class="action" style="margin-top: 10px;">

                <span >
                    <a class="btn"  th:href="'/scenic/edit?scenicId='+${list.scenicId}" >
                        <span >编辑</span></a>&nbsp;
                    <a class="btn"  th:onclick="'deleteScenic('+${list.scenicId}+')'" >
                        <span > 删除</span></a>&nbsp;
                </span>

            </div>
        </td>
    </tr>
    
                    </tbody>
                    <tbody><tr class="hide _j_hide">
                        <td class="td-empty" colspan="5">
                            <div class="icon-empty"></div>
                        </td>
                    </tr>
                </tbody></table>
            </div>
            <div class="post_pagin" id="smallpager"></div>
        </div>
               
</div>

    <script>

        function deleteScenic(id) {
            var formOne =  '#list'+id;
            $(formOne).remove();
            $.ajax({
                type:'delete',
                url:'/scenic/remove?scenicId='+id,
                cache: false,
                dataType:'json',
                success:function(res){


                }
            })
        }
    </script>


</body></html>