<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>景点-编辑</title>
 <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css"  media="all">
<script type="text/javascript">
window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","W_HTTP":"https:\/\/w.mafengwo.cn","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","PAGELET_HTTP":"https:\/\/pagelet.mafengwo.cn","JS_HOST":"js.mafengwo.net","TONGJI_HOST":"tongji.mafengwo.cn","UID":0,"CSTK":"df7ffd748270844b9a988720fc83b536_c9127c92194dce0b38e72eb2bfa8da08","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
</script>

<link href="https://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+mfw-header.2015^YlVS^1578479974.css" rel="stylesheet" type="text/css"/>

<link href="https://css.mafengwo.net/css/gonglve/gonglve.css?1544785097" rel="stylesheet" type="text/css"/>


<script language="javascript" src="https://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:miniapp+js+sdk:js+M+Log:js+m.statistics:js+advert+inspector^YlRX^1588130166.js" type="text/javascript" crossorigin="anonymous"></script>
    <!-- 配置文件 -->
    <script src="https://pu-protitem.oss-cn-shenzhen.aliyuncs.com/myhone/ueditor/ueditor.config.js"></script>

    <!-- 编辑器源码文件 -->
    <script src="https://pu-protitem.oss-cn-shenzhen.aliyuncs.com/myhone/ueditor/ueditor.all.js"></script>
</head>
<body>




<div th:include="common/common::Menu"></div>

<script src="https://www.layuicdn.com/layui-v2.5.6/layui.js" charset="utf-8"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

<div class="wrapper">
    <div class="gonglve_wrap clearfix">
	 <div class="sidebar">
		<div class="layui-upload">
		  <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
			<button type="button" class="layui-btn" id="test2">多图片上传</button> 

		</blockquote>
    <div class="layui-upload-list" id="demo2"></div>

</div>
	 
	 </div>
	  <div class="cont-main _j_feed_list">
	  
	
	<form class="layui-form" action="">
        <input type="hidden" name="content" id="content">
  <div class="layui-form-item">
    <label class="layui-form-label">景点名字</label>
    <div class="layui-input-block">
      <input type="text" name="name" id="name" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">内容</label>
    <div class="layui-input-block">
        <script id="container" name="content" type="text/plain"></script>
    </div>
  </div>
 
 <div class="layui-form-item">
    <label class="layui-form-label">景点所在省份</label>
    <div class="layui-input-inline">
      <select name="provinceId" id="provinceId"  lay-verify="required"  lay-filter="provinceId">

      </select>
    </div>
    <div class="layui-input-inline">
      <select name="cityId" id="cityId">
        <option value="">请选择市</option>

      </select>
    </div>  
  </div>
  
 
 
  
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
 
<script>
    var ueditor = UE.getEditor('container', {
        zIndex: "0" ,
        //initialFrameWidth: 1190,       // 设置初始时的宽度
        initialFrameHeight: 450         // 设置初始时的高度
    });
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function (action) {
        // 如果触发了下面三个动作中，则进行文件上传操作
        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
            return '/ueditor/upload';
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    }

    ueditor.addListener("contentChange", function () {
        console.log('内容改变:' + UE.getEditor('container').getContentTxt());
        $("#content").val(UE.getEditor('container').getContentTxt());
    });

    $(document).ready(function(){

        //同获取数据，不采用模板渲染
        var scenicId = [[${scenicId}]];
        $.ajax({
            type:'get',
            url: "/scenic/findById?scenicId="+scenicId,
            async:false,
            success: function(data){
                var result = data;
                $('#name').val(result.name);
                $('#content').val(result.content);
                //这个监听器是亮点
                ueditor.addListener('ready',function () {
                    ueditor.execCommand('insertHtml',result.content);
                });
                //渲染省
                $("#provinceId").append(" <option value=\"\">请选择省</option>");
                $.ajax({
                    type:'get',
                    url: "/provinces/findPid",
                    async:false,
                    success: function(data){
                        for(var i in data){

                            if(data[i].id == result.provinceId){
                                $("#provinceId").append("<option value="+data[i].id+" selected=\"\">"+data[i].name+"</option>");
                            }else{
                                $("#provinceId").append("<option value="+data[i].id+">"+data[i].name+"</option>");
                            }
                        }

                    }
                    ,
                    error:function(){
                        alert("省--请求失败")
                    }
                });
                //渲染市
                $.ajax({
                    type:'get',
                    url: "/provinces/findCidByPid?pid="+data.provinceId,
                    async:false,
                    success: function(data){
                        $("#cityId").empty();
                        $("#cityId").append("<option value=\"\">请选择市</option>");
                        for(var i in data){
                            if(data[i].id == result.cityId){
                                $("#cityId").append("<option value="+data[i].id+" selected=\"\">"+data[i].name+"</option>");
                            }else{
                                $("#cityId").append("<option value="+data[i].id+">"+data[i].name+"</option>");
                            }

                        }

                    }
                    ,
                    error:function(){
                        alert("市--请求失败")
                    }
                });
                //渲染图片
                $.ajax({
                    type:'get',
                    url: "/scenicPicture/findAllByScenicId?scenicId="+scenicId,
                    async:false,
                    success: function(res){
                       for(var i in res){
                           var imgId = "img"+res[i].id;
                           $('#demo2').append('<div id="'+imgId+'"><img src="'+ res[i].img +'"  class="gl_list"><span class="layui-icon" onclick="deleteImg('+res[i].id+')"></span> </div>');
                       }

                    }
                    ,
                    error:function(){
                        alert("图片--请求失败")
                    }
                });


            }
            ,
            error:function(){
                alert("页面数据-请求失败")
            }
        });

    });



//Demo
layui.use(['upload','form'], function(){
 var $ = layui.jquery;
  var form = layui.form,upload = layui.upload;
  
   //多图片上传
  upload.render({
    elem: '#test2'
    ,url: '/file/upload?typeName=scenic'
    ,multiple: true
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="gl_list">')
      });
    }
    ,done: function(res){
      //上传完毕
          if(res.code == 400){
              return layer.msg('上传失败');
          }else{
              return layer.msg('上传成功');
          }
    }
  });

    form.on('select(provinceId)', function (data) {
        $.ajax({
            type:'get',
            url: "/provinces/findCidByPid?pid="+data.value,
            async:false,
            success: function(data){
                $("#cityId").empty();
                $("#cityId").append("<option value=\"\">请选择市</option>");
                for(var i in data){
                    $("#cityId").append("<option value="+data[i].id+">"+data[i].name+"</option>");
                }

            }
            ,
            error:function(){
                alert("请求失败")
            }
        });
        form.render();
    });
  
  //监听提交
  form.on('submit(formDemo)', function(data){
      layer.msg(JSON.stringify(data.field));
      $.ajax({
          type:'post',
          url:'/scenic/save',
          cache: false,
          data:data.field,
          dataType:'json',
          success:function(data){
              if(data.code==500){
                  layer.msg('保存失败');
              }
              if(data.code==200){
                  layer.msg('保存成功'+data.msg);

              }
          },
          error:function(){
              alert("请求失败")
          }
      })
    return false;
  });



});

    function deleteImg(id) {
        $.ajax({
            type:'delete',
            url: "/scenicPicture/remove?id="+id,
            async:false,
            success: function(res){
                if (res.code == 200){
                    //a("删除成功");
                    var imgId = "#img"+id;
                    $(imgId).remove();
                }
            }
            ,
            error:function(){
                alert("图片--请求失败")
            }
        });
    }

</script>
	
       </div>
    </div>

    
</div>

<script type="text/javascript">




  

</script>

</body>
</html>
